.cover{
    width:80%;
    height:350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top:30px;
    background: black;
    color:white;
}
.progress{
    cursor: not-allowed;
    -webkit-filter: grayscale(0.9);
}
.desc{
    position:absolute;
    bottom:0px;
    color:white;
    color: white;
    background: #4262ff;
    padding:10px;
    font-family: "Shadows Into Light", sans-serif;
}

@media only screen and (max-width: 1000px) {
    .cover{
        width:100%;
        height:155px;
    }
}