
*{
     transition: 0.1s ease-in all;
}
.cover{
    width:70%;
    height:250px;
    display: block;
    margin-left: auto;
    margin-right: 300px;
    margin-top:50px;
    box-shadow: -17px 13px 10px 7px rgba(0,0,0,.2);
}
.reviewed-title{
    width:70%;
    height:250px;
    display: block;
    margin-left: auto;
    margin-right: 300px;
    margin-top:50px;
}
.footer{
    width: 100%;
    padding:10px 0;
    background: black;
    color:white;
}
.progress{
    cursor: not-allowed;
    -webkit-filter: grayscale(0.9);
}
.progress-desc{
    background: black !important;
}
.desc{
    position:absolute;
    bottom:0px;
    color:white;
    color: white;
    background: #ffad42ad;
    padding:3px 5px;
    font-family: "Shadows Into Light", sans-serif;
}
.img-1 {
     transform: perspective(2000px) rotateY(0deg);
     transition: 0.1s ease-in all;
     box-shadow: 10px grey;
}
.img-1:hover{
    transform: perspective(700px) rotateY(30deg);
    transition: 0.3s ease-out all;
}
.two-weeks-three-books{
    margin-top:100px;
    background: black;
    padding-bottom:50px;
}
.info-2weeks3books{
    color:#76ffa1;
}

.info-2weeks3books:hover{
    cursor: pointer;
     color:white;
      transition: 0.3s ease-out all;
}
.books2weeks{
    width:70%;
    height:250px;
    display: block;
    margin-top:20px;
}
.book-list-title{
    color:#0c53c0;
}
.book-list-title:hover{
    cursor: pointer;
}
.book-list{
    display:none;
}

@media only screen and (max-width: 1000px) {
    .cover{
        width:100%;
        height:110px;
        box-shadow: -8px 9px 6px 7px rgba(0,0,0,.2);
    }
    .reviewed-title{
         width:100%;
        height:110px;
    }
    .books2weeks{
        width:160%;
        height:150px;
        display: block;
        margin-top:20px;
    }   
    .books2weeks-parent{
        margin-right:30px;
    }
    .desc{
        font-size: 10px;
    }
    .img-1 {
     transform: perspective(2000px) rotateY(0deg);
     transition: 0.1s ease-in all;
     box-shadow: 2px grey;
    }
    .img-1:hover{
        transform: perspective(3000px) rotateY(15deg);
        transition: 0.3s ease-out all;
    }

}