
  *{
    transition: all ease-in-out 300ms;
  }

  .front{
    background-image: url("../images/phuntsho_try2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height:100vh;
    animation:show ease-in 500ms;

  }
  @keyframes show{
      from{opacity:0;}
      to{opacity:1;}
  }
  /**==========================================
    H E A D E R
  ==========================================**/
  .header{
    position:relative;
    top:200px;
    color:white;
    animation: headerShow ease-in 800ms;
    margin-left: 10%;
  }
  @keyframes headerShow{
    from{opacity: 0;}
    to{opacity:1;}
  }

  .slogan{
    font-family: sans-serif;
    font-size: larger;
    text-decoration: none;
    color: #1c5da2;
  }
  a .slogan{
    text-decoration: none;
  }
  #animate {
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    animation: type 2000ms steps(20);
    border-right: 0.2vw solid white;
    width: 24ch;
  }
  @keyframes type {
    0% {width: 0;}
    100% {width: 24ch;}
  }
  h1{
    font-family:'Major Mono Display', sans-serif;
    font-size: 70px;
  }
  #goof{
    font-family:'Major Mono Display', sans-serif;
  }
  @media (min-width: 576px){
    .modal-dialog {
      max-width: 900px;
    }
  }

  /**==========================================
      A B O U T   M E
    ==========================================**/
  .modal-dialog{
    box-shadow: 0 0 8px rgba(0, 0, 0, .9);
  }
  .about_me{
    background: transparent;
    border:none;
    font-size: xx-large;
    margin-left: -50px;
    transition: all ease-in-out 100ms;
    color:#1c5da2;
  }

  .about_me:hover{
    background: transparent;
    border: none;
    transition: all ease-in-out 100ms;
    color:white;
  }
  .description_me{
    line-height: 45px;
    text-align: center;
    font-family:'Darker Grotesque', sans-serif;
    font-size: 21px;
  }

  /**==========================================
    P R O J E C T S
  ==========================================**/
  .jumbo{
    padding:0;
    border:1px solid black;
    margin: 30px 40px;
  }
  .jumbo-picture{
    padding:0;
    margin:0;
  }
  .jumbo-bkg-image{
    width:100%;
    margin-bottom:10px;
    height:240px;
  }
  .project-header{
    color:#1c5da2;
    font-family:'Darker Grotesque', sans-serif;
  }
  /**==========================================
     F  O O T E R
   ==========================================**/
  .footer{
    background: white;
  }
  .social-media{
    font-size: 50px;
    color: rgb(153, 102, 153);
    text-align: center;
  }
  /**==========================================
    M E D I A   Q U E R I E S
  ==========================================**/

  @media only screen and (max-width: 992px) {
    .header {
      margin-top:-100px;
      margin-bottom:0;
    }
    .contact{
      margin-top:-150px;
    }
  }
  @media only screen and (max-width: 770px) {
    .about_image{
      display: none;
    }
    .header {
      top:350px;
      text-align: center;
      margin-left: 0;
    }
    .navbar-nav .nav-link {
      padding: 5px 0 5px 0;
    }

  }