body {
    background-image: url("../images/watson/bkg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.jumbotron-image-header {
    width: 80%;
}